
body {
	background-color: black;
	color: white;
}

button {
	margin: 0;
	padding: 0;
	border: none;
}

.gameArea {
	height: 75vh;
}

.gameScreen {
	border-radius: 25px;
	background-color: blue;
	padding: 25px 100px;
}

.center {
	display: flex;
	justify-content: center;
  align-items: center;
}

.gameButton {
	width: 100px;
	height: 60px;
	color: black;
	border-radius: 7px;
	font-size: 20px;
	margin: 0 20px;
}

.gameControls {
	margin: 30px 0;
}

.scoreBoard {
	text-align: center;
}

.reset {
	padding: 10px 10px;
	border-radius: 7px;;
	background-color: white;
	transition: 500ms;
}

.reset:hover {
	background-color: rgb(255, 106, 106);
	transition: 150ms;
}

.reset:active {
	background-color: red;
	transition: 150ms;
}

.white {
	background-color: white;
	transition: 500ms;
}

.red {
	background-color: red;
	transition: 50ms;
}

.green {
	background-color: green;
	transition: 50ms;
}